# This is the OpenOCD config file for a LoRaMote Demo board with a single STM32L151C8 chip
source [find interface/stlink-v2.cfg]
transport select hla_swd
set WORKAREASIZE 0x4000
source [find target/stm32l1.cfg]

# Use hardware reset, connect under reset
reset_config srst_only

# Print stdout to console (GDB commands)
init
arm semihosting enable
